<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Hasil</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div><h1>Hasil</h1></div>
        <hr><!-- comment -->
        <tr>
                <th>Hasil Penjumlahan : <p th:text="${fromIndexA}"></p> + <p th:text="${fromIndexB}"></p> = </th><td th:text="${hasil}"></td></br>
        </tr>
    </body>
</html>
